body{
	margin: 0;
	font-family: helvetica, arial, sans-serif;
	font-size: 20px;
	line-height: 30px;
}

header{
	background-color: orange;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1, h2{
	 font-family: 'Macondo', cursive;;
}

header h1{
	color: white;

}

header img{
	border-radius: 160px;
	width: 300px;
	border: 20px solid yellow;
}


main{
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px;
}
main img{max-width: 100%;}

h2{
	font-size: 35px;
	color: forestgreen;
}
a{
	color: forestgreen;

}
a:hover{
	background-color: orangered;
}

footer{
	background-color: orange;
	text-align: center;
	padding: 40px;
}
